extends ../layout-cv

block contenido 

    main.principal-empresas 
        .contenedor

            .contenido-empresas 

                .texto-empresas 
                
                    h2 Empieza a buscar el mejor talento con nosotros 
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Perspiciatis error maxime iste? Veniam sequi magni magnam sapiente fuga aperiam.

                .imagen-empresas 
                    img(src="../img/seleccion-anonimo.jpg", alt="")

            .boton-registrar.boton-empresas 
                a.boton(href="#") Registra tu Empresa
        
        section.seccion-uso.empresas
            .contenedor 
                .uso
                    .titulo-uso 
                        h3 Uso de la Plataforma
                    .texto-uso
                        p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellendus officiis est dicta nostrum sapiente maiores exercitationem similique incidunt, mollitia corporis laboriosam rerum perspiciatis quaerat qui ducimus veritatis obcaecati? Sunt, placeat.

                    .pasos
                        .pasos-display
                            .titulo-pasos 
                                h4 Pasos
                            .paso
                                
                                p.texto-paso #[span 1]    Registra tu Empresa a nuestra Plataforma
                            .paso
                                
                                p.texto-paso #[span 2]    Publica anuncios de trabajo
                            .paso
                                
                                p.texto-paso #[span 3]    Recibe los CV de las personas que aplicaron al anuncio
                            .paso
                                
                                p.texto-paso #[span 4]    El CV se convierte en anónimo. Sólo se muestra la experiencia laboral y conocimientos de las personas
                            .paso
                                
                                p.texto-paso #[span 5]    Evalúa a las personas por sus conocimientos y experiencia laboral
                            .paso
                                
                                p.texto-paso #[span 6]    Contacta a las personas por medio de correo electrónico
                            .paso
                                
                                p.texto-paso #[span 7]    Una vez terminada la etapa de selección, le daremos seguimiento a las personas en sus etapas de post-contrato 
                        
                    .boton-pasos 
                        .boton-desplegable
                            i(class="fas fa-chevron-down")   
    