extends ../layout-cv

block contenido
    
    img.imagen-cv(src="../img/sobre-nosotros-cv.jpg", alt="")
    section.seccion-nosotros 
        .contenedor 
            h2 Sobre Nosotros
            p Plataforma dedicada para la búsqueda de empleo y que las empresas puedan encontrar el mejor talento del país.
            h2 Nuestra Misión
            p Nuestra plataforma busca un espacio donde las personas que buscan trabajo no tengan miedo de ser rechazados por su género, edad, etc.
            h2 Nuestra Visión
            p Tenemos como meta ser la plataforma de búsqueda de trabajo número 1 del país.