extends ../layout-cv

block contenido
    
    img.imagen-cv(src="../img/sobre-nosotros-cv.jpg", alt="")
    section.seccion-nosotros 
        .contenedor 
            h2 Sobre Nosotros
            p Lorem ipsum dolor sit amet consectetur, adipisicing elit. At nulla deleniti obcaecati similique culpa modi tempore dignissimos distinctio laborum deserunt veniam optio nam, magnam magni doloribus minus voluptatem itaque delectus?
            h2 Nuestra Misión
            p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Rem laborum nam, fugiat explicabo veniam aut nihil iste est error, neque dignissimos velit suscipit inventore expedita odio saepe tempora voluptatum magnam?
            h2 Nuestra Visión
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore aut pariatur consequatur tempore, corrupti quaerat quae consequuntur deleniti! Facilis inventore optio sapiente magni quam incidunt aperiam quibusdam officia perferendis quae.