extends layout-usuarios

block contenido
    .principal-derecha
        .contenedor
            h2.instrucciones-usuario CV de #{nombre} #{apellidoPaterno} #{apellidoMaterno}

                .instrucciones 
                    .instruccion #[span 1.] En está sección sube tu CV en formato pdf.
                    .instruccion #[span 2.] La Inteligencia Artifical convertirá tu CV en anónimo, donde solo se mostrará tu experiencia laboral y conocimientos.
                