doctype html
html(lang="en")
    head
        include ../partials/header-plataforma
    body

        header.header-preguntas
            .contenedor
                .contenido-header
                
                    .logo.elemento-header
                        a(href="/plataforma-interactiva") 
                            img(src="../img/genero.png", alt="") 
        
        main.principal-preguntas
            .contenedor 
                .preguntas
                    h1 CUESTIONARIO
                    .contenedor
                        .hud
                            .puntaje
                                .puntos
                                    p Puntaje: 
                                    .puntuacion-contenedor 
                                        .puntuacion 00
                                        i.moneda(class="fab fa-bitcoin")
                                        
                            .reiniciar 
                                a(href="/plataforma-interactiva/preguntas") Reiniciar
                        


                    .contenedor.contenedor-preguntas
                        .pregunta.pregunta-1 
                            p 1. ¿Crees que existe igualdad entre hombres y mujeres?
                                .respuestas.contenedor
                                    p.p1r1.respuesta Si, hay igualdad entre hombres y mujeres
                                    p.respuesta.p1r2 No hay igualdad entre hombres y mujeres
                            p.rpta-1 
                            .videos
                                .video-1
                                    iframe.video(width="560" height="315" src="https://www.youtube.com/embed/j7f_c5XhX4s" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                .video-2
                                    iframe.video(width="560" height="315" src="https://www.youtube.com/embed/47Hc44ue0qI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        
                        .pregunta.pregunta-2
                            p 2. ¿Crees que sólo las mujeres deben hacer las labores domésticas y no los hombres?
                                .respuestas.contenedor
                                    p.p2r1.respuesta Ambos deben aportar en las labores del hogar
                                    p.respuesta.p2r2 Sólo las mujeres deben hacer las labores del hogar
                            p.rpta-2
                            .videos
                                .video-3
                                    iframe.video(width="560" height="315" src="https://www.youtube.com/embed/RiwrE-3qs4o" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                .video-4
                                    iframe.video(width="560" height="315" src="https://www.youtube.com/embed/0OK1g625_pw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                
                        .pregunta.pregunta-3
                            p 3. ¿Crees que las mujeres tienen la misma habilidad que los hombres en temas de ciencia y tecnología?
                                .respuestas.contenedor
                                    p.p3r1.respuesta Si, ambos tienen las mismas habilidades en temas de ciencia y tecnología
                                    p.respuesta.p3r2 No, las mujeres no tienen la suficiente habilidad en temas de ciencia y tecnología
                            p.rpta-3
                            .videos
                                .video-5
                                    iframe.video(width="560" height="315" src="https://www.youtube.com/embed/4YTym3zcptg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                                .video-6
                                    iframe.video(width="560" height="315" src="https://www.youtube.com/embed/WvH2Ro89xWU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen)
                        
                    .boton-finalizar 
                        a(href="#") Finalizar 

                    .final
                        .puntaje-final Obtuviste #[span 00] puntos


