extends layout

block contenido
    main.contenido-principal.contenedor
        h2.titulo-principal.elemento-principal Empoderamiento #[span Económico] de la Mujer
        img.imagen-principal.elemento-principal(src="/img/empoderamiento.jpg", alt="")
    
    .desafios-contenedor.contenedor
        h2.titulo-desafio DESAFIOS
        .desafios
            .item-desafio#item-1
                h3.item-titulo.item-1#titulo-1 Discriminación Laboral
                .back-desafio#back-desafio-1.contenedor
                    h3 Discriminación Laboral
                    p.parrafo-desafio -Diferencias salariales del 26.3% principalmente en empresas locales peruanas.
                    p.parrafo-desafio -Mecanismos eficientes que no garanticen una competencia transparente y equitativa en los ascensos a puestos más altos.
                    p.parrafo-desafio -Proceso de selección arraigados a prejuicios sociales como  mayor preferencia a mujeres sin hijos, de un NSE alto, entre otros.

            .item-desafio#item-2
                h3.item-titulo.item-2#titulo-2 Cultura Machista
                .back-desafio#back-desafio-2.contenedor
                    h3 Cultura Machista
                    p.parrafo-desafio -Subestimación a la mujer
                    p.parrafo-desafio -Influencia de los medios de comunicación 
                    p.parrafo-desafio -Estereotipos de género aún presentes en la sociedad

            .item-desafio.item-3#item-3
                h3.item-titulo#titulo-3 Educación sin Enfoque de Género
                .back-desafio#back-desafio-3.contenedor
                    h3 Educación sin Enfoque de Género
                    p.parrafo-desafio -Poco impulso al desarrollo profesional de la mujer
                    p.parrafo-desafio -Enseñanza sin enfoque de género
                    p.parrafo-desafio -Estereotipos al momento de elegir carrera vocacional

            .item-desafio.item-4#item-4
                h3.item-titulo#titulo-4 Gestión Pública
                .back-desafio#back-desafio-4.contenedor
                    h3 Gestión Pública 
                    p.parrafo-desafio -Preferencia de participación de hombres en diferentes programas del estado
                    p.parrafo-desafio -Desvalorización económica de ocupaciones feminizadas como el   trabajo doméstico.
                    p.parrafo-desafio -Falta de sanción legal para perpetradores de la violencia (acoso sexual, hostigamiento sexual, acoso politico) en el centro laboral
        