extends layout

block contenido
    h1.titulo-comentario Escribe tu comentario
    
    
    main.contenedor
        form.formulario(action="/comentarios" method="POST")
            fieldset
                legend Información General
                label.label-nombre(for="nombre") Nombre
                input(type="text" id="nombre" name="nombre" placeholder="Tu Nombre" required)

                label(for="apellidoPaterno") Apellido Paterno
                input(type="text" id="apellidoPaterno" name="apellidoPaterno" placeholder="Apellido Paterno" required)

                label(for="apellidoMaterno") Apellido Paterno 
                input(type="text" id="apellidoMaterno" name="apellidoMaterno" placeholder="Apellido Materno" required)

                label(for="producto") Producto 
                select(name="producto" id="productos" required)
                    option(value="" disabled selected) -- Seleccione --
                    option(value="CV Anónimo") CV Anónimo
                    option(value="Plataforma Interactiva") Plataforma Interactiva
                    option(value="Networking") Networking 
                    option(value="Test Interactivo") Test Interactivo 

                label(for="comentario") Comentario 
                textarea(name="comentario" id="comentario" required) 
            
            input.boton-comentario.boton-naranja(type="submit" value="Enviar")

                
        