extends layout-cv

block contenido 

    section.contenido-principal 
        .contenedor
            .texto-principal
                .wrapper 
                    .titulo-principal CV
                    ul.dinamico     
                        li #[span Anónimo]
                        li #[span Sin miedo]
                        li #[span Sin géneros]
                        li #[span Sin discriminación]
                p.parrafo-principal Busca un trabajo que se adecúe a tus conocimientos y habilidades, y postula sin miedo!
    
    block contenido 
        main.contenido-secundario
            .contenedor
                h2 Cómo Funciona
                .funcionamiento
                    .etapa   
                        i(class="fas fa-search")
                        p Encuentra un trabajo que se adecúe a tus conocimientos y habilidades
                    .etapa     
                        i(class="far fa-file-alt")
                        p Envía tu CV a la empresas, donde sólo se mostrará tu experencia laboral y conocimientos
                    .etapa     
                        i(class="fas fa-eye")
                        p Seguimiento durante tú etapa de selección y post contrato
        
    section.seccion-uso 
        .contenedor 
            .uso
                .titulo-uso 
                    h3 Uso de la Plataforma
                .texto-uso
                    p Sigue los pasos para tener una mejor experiencia usando nuestra plataforma de búsqueda de trabajo con CV anónimo
                    p.pagina-registro (La páginas de registro e iniciar sesión funcionan)
                    p (Dar click a la flecha)

                .pasos
                    .pasos-display
                        .titulo-pasos 
                            h4 Pasos
                        .paso
                            
                            p.texto-paso #[span 1]    Registrate en nuestra Plataforma 
                            
                        .paso
                            
                            p.texto-paso #[span 2]    Sube tu CV
                        .paso
                            
                            p.texto-paso #[span 3]    Empieza a postular a empleos
                        .paso
                            
                            p.texto-paso #[span 4]    El CV se convierte en anónimo. Sólo se muestra tu experiencia laboral y conocimientos
                        .paso
                            
                            p.texto-paso #[span 5]    Las empresas evaluarán tus conocimientos
                        .paso
                            
                            p.texto-paso #[span 6]    Las empresas se contactarán contigo por medio de correo electrónico
                        .paso
                            
                            p.texto-paso #[span 7]    Una vez terminada la etapa de selección, le daremos seguimiento a tu etapa post-contrato
                    
                .boton-pasos 
                    .boton-desplegable
                        i(class="fas fa-chevron-down")   
                    
                     
