doctype html
html(lang="en")
    head
       include partials/header-cv
    body

        header.header.contenedor
            .logo
                a(href="/cv-anonimo") ANONYMUS CV

            .navegacion 
                a(href="/cv-anonimo/sobre-nosotros") Sobre Nosotros
                a(href="/cv-anonimo/empleos") Empleos
                a(href="/cv-anonimo/empresas") Empresas 
            .navegacion-ingreso 
                a.iniciar-sesion(href="/cv-anonimo/iniciar-sesion") Iniciar Sesión
                a.registrate(href="/cv-anonimo/registrar") Registrate
            button.ham-cv(type="button")
                span.br-1-cv
                span.br-2-cv
                span.br-3-cv
            
    block contenido 


    footer.footer 
        .contenedor
            .contenido-footer 
                p.texto-footer &copy; Anonymus CV 


    
