doctype html
html(lang="en")
    head
        include partials/header-plataforma
    body

        header.header
            .contenedor
                .contenido-header
                
                    .logo.elemento-header
                        a(href="/plataforma-interactiva") 
                            img(src="img/genero.png", alt="")
                        
                    
                    .letras.contenedor.elemento-header
                        span E
                        span D
                        span U
                        span C
                        span A
                        span C
                        span I
                        span Ó
                        span N
                        span 
                        span C
                        span O
                        span N
                        span 
                        span E
                        span N
                        span F
                        span O
                        span Q
                        span U
                        span E
                        span 
                        span D
                        span E
                        span 
                        span G
                        span É
                        span N
                        span E
                        span R
                        span O
                    .boton-empezar.elemento-header 
                        a.empezar#empezar(href="/plataforma-interactiva/preguntas") Comenzar
        
        block contenido