extends layout 

block contenido
    h1.titulo-productos Productos
    main.contenido-principal.seccion-productos.contenedor
        .productos.producto-1.contenedor#producto-1
            .texto-producto
                h2.titulo-producto CV Anónimo
                P.texto-producto Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vero cumque nisi, nulla nobis, sunt tempore deleniti doloribus ex veniam possimus?
                .boton-producto
                    a.boton-naranja(href="/cv-anonimo" target="_blank") Ver Producto
            .imagen-producto
                img(src="/img/cv-anonimo.png", alt="")

        
        .productos.producto-2.contenedor#producto-2
            .texto-producto
                h2.titulo-producto Plataforma Interactiva 
                P.texto-producto Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vero cumque nisi, nulla nobis, sunt tempore deleniti doloribus ex veniam possimus?
                .boton-producto
                    a.boton-naranja(href="/plataforma-interactiva" target="_blank") Ver Producto
            .imagen-producto
                img(src="/img/enfoque-producto.jpg", alt="")

        .productos.producto-3.contenedor#producto-3
            .texto-producto
                h2.titulo-producto Networking
                P.texto-producto Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vero cumque nisi, nulla nobis, sunt tempore deleniti doloribus ex veniam possimus?
                .boton-producto
                    a.boton-naranja(href="/networking" target="_blank") Ver Producto
            .imagen-producto
                img(src="/img/networking.jpg", alt="")

        .productos.producto-4.contenedor#producto-4
            .texto-producto
                h2.titulo-producto Test Interactivo
                P.texto-producto Lorem ipsum, dolor sit amet consectetur adipisicing elit. Labore vero cumque nisi, nulla nobis, sunt tempore deleniti doloribus ex veniam possimus?
                .boton-producto
                    a.boton-naranja(href="/tes-interactivo" target="_blank") Ver Producto
            .imagen-producto
                img(src="/img/test.png", alt="")
            
            
    