html {
    box-sizing: border-box;
    font-size: 62.5%;
    

}
*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'M PLUS Rounded 1c', sans-serif;
    font-size: 1.6rem;
    /* background-color: beige; */
    
}

img{
    width: 100%;
}

.contenedor{
    width: 95%;
    max-width:120rem ;
    margin: 0 auto;
    padding: 1rem 0;
}

.logo a{
    font-family: 'Permanent Marker', cursive;
    color: rgb(79, 65, 173);
    text-decoration: none;
    font-size: 2rem;
    /* text-align: center; */
    align-items: center;
}


/* body{
    font-family: 'Permanent Marker', cursive;
    color: rgb(79, 65, 173);
} */

.header{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(2,1fr);
    row-gap: 2rem;
    column-gap: 5rem;
}

.navegacion-ingreso{
    grid-column-start: 1;
    grid-column-end: 3;
}

@media(min-width:1230px){
    .header{
        /* display: grid; */
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: none;
        row-gap: 0;
        column-gap: 5rem;
    }

    .navegacion-ingreso{
        grid-column-start: 3;
        grid-column-end: 4;
    }


}

.navegacion{
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* align-items: initial; */
}

.navegacion a{
    text-decoration: none;
    color: black;
    font-size: 1.6rem;
    font-weight: 500;
}

.navegacion a:hover{

    border-bottom: solid 2px black;
    
}

.navegacion-ingreso{
    margin-left: 10rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    font-size: 1.6rem;
}

.navegacion-ingreso a{
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;
    font-weight: 500;
    
    /* color: black; */
}

.iniciar-sesion{
    background-color: rgb(79, 65, 173);
    color:  white;
    padding: 0.5rem;
}

.registrate{
    color: black;
}

.registrate:hover{
    /* border-bottom: solid 2px black; */
    color: darkmagenta;
}

.iniciar-sesion:hover{
    background-color: black;
    
}


/* seccion principal */

.contenido-principal{
    margin-top: 1rem;
    background-color: #151770;
}

.texto-principal{

    display: grid;
    grid-template-rows: repeat(2,1fr);
    grid-template-columns: none;
    padding: 15rem 0;
    color: white;
    align-items: center;
    /* text-align: center; */
    /* margin-top: 1rem; */
    margin-right: 5rem;
}

@media(min-width:1230px){
    .texto-principal{
        grid-template-rows: none;
        grid-template-columns: repeat(2,1fr);
        grid-template-rows: none;
        column-gap: 0;
        /* padding: 15rem 0; */

    }
}

.titulo-principal{
    font-size: 5rem;
    margin-top: 0.8rem;
    text-align: center;
    font-size: 5rem;
}

@media(min-width:830px){
    .titulo-principal{
        font-size: 5rem;
    }
}

.parrafo-principal{
   /* padding: 0 5rem; */
   font-size: 2rem;
}

.wrapper{
    display: inline-flex;
    text-align: left;
    /* padding: 0 4rem; */
    margin: 0;
    width: 100%;
}

/* @media(min-width:1007px){
    .wrapper{
        padding: 0 4rem;
    }
} */

.wrapper .dinamico{
    margin-left: 1rem;
    height: 80px;
    margin-top: 0;
    padding: 0;
    line-height: 90px;
    overflow: hidden;
}



@media(min-width:830px){
    .wrapper .dinamico{
        margin-left: 1rem;
        height: 80px;
        margin-top: 0;
        padding: 0;
        line-height: 90px;
        overflow: hidden;
    }
}

.dinamico li{
    list-style: none;
    font-size: 4.8rem;
    position: relative;
    top:0;
    animation: slide 10s steps(4) infinite;
    
}

@media(min-width:830px){
    .dinamico li{
        font-size: 4.8rem;
    }
}

@keyframes slide{
    100%{
        top: -360px;
    }
}

.dinamico li span{
    position: relative;

}

.dinamico li span::after{
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background: #151770;
    border-left: 2px solid white;
    animation: typing 2.5s steps(18) infinite;


}

@keyframes typing{
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

/* MOBILE MENU */

.ham-cv{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham-cv span{
    display: block;
    background-color:black;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

@media ( max-width:830px){
    .hidden{
        overflow: hidden;
    }

    .ham-cv{
        display: block;
        position: absolute;
        top: 15px;
        right: 25px;
        transition: 0.2s 0.1s;
        /* color: white; */
    }

    .ham-cv:hover{
        transform: rotate(360deg);
    }

    /* .ham-cv span{
        background-color: white;
    } */

    

    .header{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .logo{
        margin-top: 1rem;
    }

    .navegacion{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 46vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    /* .navegacion a{
        color: white;
    } */

    /* .navegacion a:hover{
        border-bottom: solid 1px white;
    } */

    .navegacion-ingreso{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 46vh;
        margin: 0;
        margin: 0;
        padding: 0;
        /* width: 100%; */
        display: none;
        opacity: 0;

    }

    .navegacion.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
    }

    .navegacion-ingreso.activado{
        display: flex;
        animation: muestraMenu 350ms ease-in-out both;
    }

    @keyframes muestraMenu{
        from{opacity: 0;}
        to{opacity: 1;}
    }

    .br-1-cv.animado{
        transform: rotate(-45deg) translate(-10px,8px);
    }

    .br-2-cv.animado{
        opacity: 0;
    }

    .br-3-cv.animado{
        transform: rotate(45deg) translate(-10px,-8px);
    }

    /* .navegacion-ingreso .registrate{
        color: white;
    } */


}

/*------------------Contenido Secundario---------------------------------------*/

.contenido-secundario{
    text-align: center;
    background-color: rgb(240, 235, 235);
}

.contenido-secundario h2{
    font-size: 4rem;
    color: #151770;
}

.funcionamiento{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

@media(min-width:830px){
    .funcionamiento{
        flex-direction: row;
        margin-right: 6rem;
    }

    .funcionamiento:last-child{
        margin-right: 0;
    }

    .funcionamiento .etapa{
        padding: 0 2rem;
    }
}


.funcionamiento .etapa{
    margin-bottom: 4rem;
}

.funcionamiento .etapa:last-child{
    margin-bottom: 0;
}

.etapa i{
    font-size: 4rem;
    color: #151770;
}

.etapa p{
    font-weight: 500;
}

@media(min-width:830px){
    .etapa i{
        font-size: 6rem;
    }

    .etapa p{
        font-size: 1.8rem;
        margin-top: 4rem;
    }

    .funcionamiento .etapa{
        margin-bottom: 0;
    }
}

/*------------------------------------USO----------------------------------------------------------------------*/

.titulo-uso{
    text-align: center;
    font-size: 2.8rem;
    color: #151770;
}

.texto-uso{
    text-align: center;
    font-size: 1.9rem;
    /* display: n; */
}

.pasos{
    margin-top: 4rem;
    /* padding: 0 5rem; */
    /* text-align: center; */
    display: none;
    animation: ocultaMenu 1s ease both;
}

/* .paso{
    display: flex;
    justify-content: space-between;
    margin: 0;
} */

.boton-desplegable i{
    font-size: 3rem;
    /* transform: rotate(180deg); */

}

.animado{
    transform: rotate(180deg);
}

.boton-desplegable:hover{
    cursor: pointer;

}

.boton-pasos{
    text-align: center;
    margin-top: 4rem;
    /* border
    background-color: transparent; */
}

.mostrar{
    display: block;
}

.texto-paso{
    line-height: 3.4rem;
}

.texto-paso span{
    background-color: #151770;
    border-radius: 60%;
    padding: 1rem;
    color: white;
    font-weight: 500;
    font-size: 2.2rem;
    margin-right: 2rem;
    /* line-height: 3rem; */
}

.titulo-pasos{
    text-align: center;
    font-size: 2.2rem;
    color: #151770;
}

.paso{
    padding: 0 5rem;
    margin-top: 4rem;
}

@media(min-width:830px){
    .paso{
        padding: 0 20rem;
    }
    
}

.pasos.mostrar{
    display: flex;
    animation: muestraMenu 0.3s ease-in-out both;
}

@keyframes muestraMenu{
    from{opacity: 0;}
    to{opacity: 1;}
}

@keyframes ocultaMenu{
    from{opacity: 1;}
    to{opacity: 0;}
}



/*----------------------------------------------------- Footer ---------------------------------------------------*/

.footer{
    border-top: solid 1px rgb(170, 167, 167);
}

.contenido-footer{
    text-align: center;
}

.texto-footer{
    font-family: 'Permanent Marker', cursive;
    color: rgb(62, 50, 139);
    font-size: 3rem;
    padding: 1rem 0;
    margin: 0;
}

/*------------------------SOBRE NOSOTROS-------------------------------------------------------------*/

.imagen-cv{
    margin-top: 2rem;
    height: 40rem;
}

.seccion-nosotros h2{
    color: #151770;
}


/*--------------------------EMPLEOS------------------------------------------------*/

/* EMPLEOS*/

.division-empleo{
    margin-top: 5rem;
}

.seccion-empleos h2{
    color: #151770;
    font-size: 4rem;
}

.seccion-empleos{
    text-align: center;
}

.division-empleo i{
    font-size: 6rem;
    color: #151770;
    /* margin-top: 2rem; */
}

.numero{
    margin-top: 4rem;
    font-weight: 500;
    font-size: 2rem;
}

.numero span{
    color: #151770;
    font-weight: 700;
    font-size: 3rem;
}

@media(min-width:830px){
    .empleos-principal{
        display: grid;
        grid-template-columns: repeat(3,1fr);
        column-gap: 4rem;
    }
}

.boton-registrar{
    margin: 6rem 0 ;
}

.boton-registrar a{
    background-color: #151770;
    padding: 2rem;
    border-radius: 5rem;
    color: white;
    text-decoration: none;
    font-weight: 700;

    /* text-align: center;
    text-align: center; */
    box-shadow: inset 0 0 0 0 #000000;
    transition: 0.4s ease-out;
    outline: none;
}

.boton-registrar a:hover{
    box-shadow: inset 100% 0 0 0 #000000;
    cursor: pointer;
    color: #ffffff;
}



/*--------------------------------EMPRESAS----------------------------------*/

.principal-empresas{
    background-color: rgb(240, 235, 235);
    margin-top: 5rem;
}

.contenido-empresas{
    display: grid;
    grid-template-rows: repeat(2,1fr) ;
    column-gap: 15rem;
    /* justify-content: space-between; */
    align-items: center;
    padding: 2rem;
    /* margin-right: 5rem; */
}

@media(min-width:830px){
    .contenido-empresas{
        grid-template-columns: repeat(2,1fr);
        column-gap: 15rem;
        grid-template-rows: none
    }
}

.texto-empresas h2{
    color:#151770;
    font-size: 3.8rem;
    font-weight: 800;
}

.texto-empresas p{
    font-size: 1.8rem;
    font-weight: 400;
}

.contenido-empresas

.imagen-empresas img{
    max-width: 50rem;
    border-radius: 2rem;
}

.seccion-uso.empresas{
    background-color: white;
}

.boton-empresas{
  display: flex;
  justify-content: center;
}


/*--------------LOGIN------------------------------*/

.titulo-iniciar{
    text-align: center;
    color: #151770;
    /* margin-top: 5rem; */
}

.inicio-sesion{
    margin-top: 10rem;
    /* margin-bottom: 0; */
}

.login,
.crear-cuenta {
    background: #485358;
}


.contenedor-formulario {
    display: flex;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    /* margin-top: 50rem; */
    padding: 0 0  5rem 0;
}

.contenedor-inicio{
    height: 60vh;
}
.contenedor-formulario h1 {
    text-align: center;
    color: white;
}
.contenedor-formulario h1  span{
    font-weight: 400;
    font-size: 1.2rem;
}
.contenedor-formulario p {
    text-align: center;
    color: white;
    font-size: 1.4rem;
}
.caja-login {
    background-color:#151770;
    border: 1px solid #707070;
    border-radius: 2rem;
    max-width: 800px;
    width: 100%;
    margin: 0 auto;
    min-height: auto;
    -webkit-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    -moz-box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    box-shadow: 0px 25px 35px -17px rgba(0,0,0,0.56);
    padding: 3rem;
}
.campo {
    display: grid;
    grid-template-rows: repeat(2,1fr);
    /* flex-direction: row;
    margin-bottom: 1rem;
    align-items: center; */
    padding: 1rem;
}
.campo label {
    flex: 0 0 100px;
    /* text-align: right; */
    padding-right: 1rem;
    color: white;
}
.campo input[type="email"],
.campo input[type="text"],
.campo input[type="password"] {
    height: 3rem;
    /* width: 2rem; */
    border: 0;
    flex: 1;
    border: 1px solid #455A64;
    border-radius: 5rem;
    padding-left: 2rem;
    color: black;
}

.campo.acciones {
    justify-content: space-between;
}
.enviar {
   justify-content: flex-end;
}

.campo-boton a{
    color: white;
    text-decoration: none;
    background-color: #000000;
    padding: 1rem;
    border-radius: 1rem;
}


/*-----------USUARIOS---------------------------*/

.header-usuario{
    background-color: #151770;
}



.contenido-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.titulo-usuario{
    font-family: 'Permanent Marker', cursive;
    color: white;
    text-decoration: none;
    font-size: 2rem;
}

.derecha-usuario{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
}

.derecha-usuario a{
    margin-left: 4rem;
}

/* .principal-izquierda{
    /* display: flex;
    height: calc( 100vh - 75px); */
/* } */ */




.panel-usuarios{
  display: flex;
  justify-content: center;
  flex-direction: column;
    
}



.aside-principal{
    display: flex;
    flex-direction: column;
    background-color: rgb(173, 169, 169);
    /* max-width: 300px; */
    height: 100%;
    padding: 1rem;
    text-align: center;

}



.panel-usuarios a{
    margin-top: 5rem;
}

.principal-derecha{
    /* margin-left: 10rem; */
    width: 100%;
}

.bienvenida-usuario{
    text-align: center;
    align-items: center;
}

.opcion-usuarios{
    font-size: 1.8rem;
    margin-left: 6rem;
    color: #151770;
}

.opcion-usuarios:hover{
    color: white;
}

.opcion-usuarios span{
    margin-left: 1rem;
}

.instrucciones-usuario{
    text-align: center;
}
.instrucciones{
    margin-top: 6rem;
    align-items: center;
    background-color: #151770;
    border-radius: 2rem;
    
}

.instruccion{
    margin-top: 4rem;
    padding: 3rem;
    color: white;
    text-align: left;   
}