extends ../layout-networking

block contenido 

    img.imagen-nosotros(src="../img/eventos-networking.png", alt="")

    main.principal-eventos 
        .contenedor 
            .contenido-eventos 
                h1 Próximos Eventos
                h2 Cultura Machista
            .eventos-cultura
                .evento-cultura
                    .contenido-evento
                        h3 Networking
                        h4 Subestimación a la Mujer 
                        .fecha-evento
                            p Fecha: 12/07/2021
                            p Hora: 07:00 pm 
                        .lugar-evento 
                            h4 Contectate por 
                            .medios-evento 
                                i.medio(class="fab fa-facebook")
                                i.medio(class="fas fa-video")
                                i.medio(class="fab fa-youtube")
                        .evento-inscribirse 
                            a(href="#") Inscribirse

            
                .evento-cultura
                    .contenido-evento
                        h3 Networking
                        h4 Influencia de los Medios de Comunicación
                        .fecha-evento
                            p Fecha: 13/07/2021
                            p Hora: 07:00 pm 
                        .lugar-evento 
                            h4 Contectate por 
                            .medios-evento 
                                i.medio(class="fab fa-facebook")
                                i.medio(class="fas fa-video")
                                i.medio(class="fab fa-youtube")
                        .evento-inscribirse 
                            a(href="#") Inscribirse
            
            
                .evento-cultura
                    .contenido-evento
                        h3 Networking
                        h4 Estereotipos de Género
                        .fecha-evento
                            p Fecha: 14/07/2021
                            p Hora: 07:00 pm 
                        .lugar-evento 
                            h4 Contectate por 
                            .medios-evento 
                                i.medio(class="fab fa-facebook")
                                i.medio(class="fas fa-video")
                                i.medio(class="fab fa-youtube")
                        .evento-inscribirse 
                            a(href="#") Inscribirse

            .eventos-gestion 
                h2 Gestión Pública
            .parrafo-gestion
                p Para eventos, charlas y capacitaciones en gestión pública, es necesario realizar un test o formulario para poder recomendarte los mejores eventos, charlas y capacitaciones relacionados a este tema
                P Por conveniencia, es necesario que trabajes en el Ministerio de la Mujer o el Ministerio del trabajo
            .boton-gestion 
                a(href="/networking/eventos-gestion") Iniciar Test 




