extends ../layout-networking

block contenido 

    img.imagen-nosotros(src="../img/nosotros-networking.jpg", alt="")

    main.nosotros-networking
        .contenedor
            .contenido-nosotros
            

            h2.titulo-nosotros Sobre Nosotros 

            p.parrafo-nosotros Lorem ipsum dolor sit amet consectetur adipisicing elit. Nobis nemo provident eaque, unde, facilis dicta ad minima molestias distinctio libero tenetur quia alias. Non ipsa accusantium necessitatibus odio suscipit cum.

            h2.titulo-nosotros Nuestro Equipo 

            p.parrafo-nosotros Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident libero labore quasi sapiente eligendi dolor rem omnis illum praesentium aut soluta aliquid tenetur nemo repudiandae necessitatibus nihil, quam dignissimos! Ut.  