extends ../layout-networking

block contenido 

    img.imagen-nosotros(src="../img/nosotros-networking.jpg", alt="")

    main.nosotros-networking
        .contenedor
            .contenido-nosotros
            

            h2.titulo-nosotros Sobre Nosotros 

            p.parrafo-nosotros Somos una plafatorma dedicada a los eventos, charlas y capacitaciones en temas relacionados a la cultura machista y gestión pública, los cuales están relacionados con el empoderamiento económico de la mujer

            h2.titulo-nosotros Nuestro Equipo 

            p.parrafo-nosotros Contamos con los mejores ponentes y profesionales en temas de empoderamiento ecónomico de la mujer